body{
    height: 100vh;
    width: 100vh;
    background-image: url(./img/cave.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bodyDragon{
    height: 100vh;
    width: 100vh;
    background-image: url(./img/dragon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img{
    height: 100vh;
    width: 100vh;
}

.btn{
    padding: 13px;
    padding-left: 74px; ;
    padding-right: 74px;
    background: #9C0332;
    color: white;
    border-radius: 30px;
    border: none;
    display: inline-flex;
    justify-content: center;
    position: absolute;
    bottom: 50%;
    left: 50%;
}

.text{
    display: inline-flex;
    justify-content: center;
    position: absolute;
    bottom: 13%;
    left: 4%;
    background-color: white;
    font-size: 30px;
}